* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

@import "tailwindcss";

@theme {
  
  --animate-standalone: standalone 3s infinite ease-in-out both;

  @keyframes standalone {

    0%,
    100% {
      transform: translateZ(-100px) scaleX(-1);
    }

    50% {
      transform: translateZ(100px) scaleX(1);
    }
  }
}
